.login-page {
  background-color: #e6e4e0;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: relative;
}

.login-image-container,
.login-container {
  width: 30%; 
  height: 30%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 10px; 
}

.login-image {
  width: 100%; 
  height: 200%; 
}

.login-container {
  border: 2px solid black;
}

.login-container {
  width: 400px; /* Set a fixed width for the form container */
  height: 400px;
  padding: 20px; /* Add some padding for form elements */
  border: 1px solid #ccc; /* Add a border for visual separation */
  border-radius: 5px; /* Add rounded corners for a softer look */
  background-color: #fff; /* Set white background for the form */
}

.login-form {
  display: flex; /* Allow vertical stacking of form elements */
  flex-direction: column; /* Stack elements vertically */
}

.input-group {
  margin-bottom: 15px; /* Add some space between input groups */
}

.login-form label {
  display: block; /* Display labels on their own line */
  margin-bottom: 5px; /* Add some space below labels */
  font-weight: bold; /* Make labels stand out visually */
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%; /* Make input fields full width */
  padding: 10px; /* Add padding for easy typing */
  border: 1px solid #ccc; /* Add a border for input fields */
  border-radius: 3px; /* Add rounded corners to input fields */
}

.log_but {
  background-color: #0080FF; 
  color: white; /* White text color */
  padding: 10px 20px; /* Add padding for button text */
  border: none; /* Remove default border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Indicate clickable behavior */
  margin-top: 10px; /* Add some space above the button */
}

.create-account{
  text-align: center;
}


.login-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff; 
  border: 2px solid green; 
  color: green; 
  border-radius: 5px;
  padding: 20px; 
  text-align: center; 
}

.login-success img {
  width: 100px; 
  margin-bottom: 10px; 
}
