.login-page {
  background-color: #e6e4e0;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  position: relative;
}

.login-image-container,
.login-container {
  width: 30%; 
  height: 30%; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 10px; 
}

.login-image {
  width: 100%; 
  height: 200%; 
}

.login-container {
  border: 2px solid black;
}

.login-container {
  width: 400px; 
  height: 400px;
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  background-color: #fff; 
}

.login-form {
  display: flex; 
  flex-direction: column; 
}

.input-group {
  margin-bottom: 15px; 
  position: relative;
}

.login-form label {
  display: block; 
  margin-bottom: 5px; 
  font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
  box-sizing: border-box; 
  padding-right: 40px; 
}

.password-container {
  position: relative;
  width: 100%;
}

.password-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.log_but {
  background-color: #0080FF; 
  color: white; 
  padding: 10px 20px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
  margin-top: 10px; 
}

.create-account {
  text-align: center;
}

.login-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff; 
  border: 2px solid green; 
  color: green; 
  border-radius: 5px;
  padding: 20px; 
  text-align: center; 
}

.login-success img {
  width: 100px; 
  margin-bottom: 10px; 
}
